[Unit]
Description=PZEM016 to EmonCMS Service
After=remote-fs.target apache2.service

[Service]
Type=simple
User=marbel
WorkingDirectory=/home/pi/pzemd/
ExecStart=/home/pi/pzemd/pzemd
Restart=always

[Install]
WantedBy=multi-user.target

