[Unit]
Description=PZEM016 to EmonCMS Service
After=remote-fs.target
After=apache2.service

[Service]
Type=simple
User=marbel
WorkingDirectory=/home/marbel/pzemd/
ExecStart=/home/marbel/pzemd/pzemd
Restart=on-failure
